.header{
  border: 1px solid #eee;
  padding: 20px;
}

.logo {
  float:left;
  text-decoration: none;
  color: black;
}

nav {
  float: right;
}

nav ul {
  margin:0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 40px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
