<div class="header" >
  <a href="/" class="logo"><i> Welcome to a movie Club! </i></a>
   <nav>
     <ul>
       <li><a href="">Cartoon</a></li>
       <li><a href="">Thriller</a></li>
       <li><a href="">Horror</a></li>
     </ul>
   </nav>
</div>
